USE [QLCD]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Event2_CalcMoney]    Script Date: 12/05/2026 10:19:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_Event2_CalcMoney] (@MaHD INT, @TargetDate DATETIME)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @Goc DECIMAL(18,2), @NgayVay DATETIME, @D1 DATETIME;
    SELECT @Goc = TienGoc, @NgayVay = NgayVay, @D1 = Deadline1 FROM HopDong WHERE MaHD = @MaHD;

    DECLARE @LaiSuatNgay FLOAT = 5000.0 / 1000000.0;
    -- Tính lãi đơn [cite: 11]
    DECLARE @NgayDon INT = DATEDIFF(DAY, @NgayVay, CASE WHEN @TargetDate < @D1 THEN @TargetDate ELSE @D1 END);
    DECLARE @TongSauLaiDon DECIMAL(18,2) = @Goc + (@Goc * @LaiSuatNgay * @NgayDon);

    IF (@TargetDate <= @D1) RETURN @TongSauLaiDon;
    -- Tính lãi kép từ mốc D1 [cite: 12]
    DECLARE @NgayKep INT = DATEDIFF(DAY, @D1, @TargetDate);
    RETURN @TongSauLaiDon * POWER(1 + @LaiSuatNgay, @NgayKep);
END;
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 12/05/2026 10:19:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[TienGoc] [decimal](18, 2) NOT NULL,
	[NgayVay] [datetime] NULL,
	[Deadline1] [datetime] NOT NULL,
	[Deadline2] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/05/2026 10:19:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[CCCD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogGiaoDich]    Script Date: 12/05/2026 10:19:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogGiaoDich](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[NgayGiaoDich] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NoConLai] [decimal](18, 2) NULL,
	[NguoiThuTien] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 12/05/2026 10:19:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[TenTS] [nvarchar](100) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL,
	[TrangThaiTS] [nvarchar](50) NULL,
	[IsSold] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHD], [MaKH], [TienGoc], [NgayVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (1, 1, CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-12T21:19:27.973' AS DateTime), CAST(N'2026-05-15T00:00:00.000' AS DateTime), CAST(N'2026-05-30T00:00:00.000' AS DateTime), N'Đang trả góp')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [TienGoc], [NgayVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (2, 2, CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-01T00:00:00.000' AS DateTime), CAST(N'2026-05-05T00:00:00.000' AS DateTime), CAST(N'2026-05-20T00:00:00.000' AS DateTime), N'Đang vay')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [CCCD]) VALUES (1, N'Nguyễn Văn A', N'0912345678', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [CCCD]) VALUES (2, N'Nguyễn Văn Test', N'0123456789', N'987654321')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [CCCD]) VALUES (4, N'Nguyễn Văn Thành Công', N'0999111222', N'999999999')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LogGiaoDich] ON 

INSERT [dbo].[LogGiaoDich] ([MaLog], [MaHD], [NgayGiaoDich], [SoTienTra], [NoConLai], [NguoiThuTien]) VALUES (1, 1, CAST(N'2026-05-12T21:35:44.963' AS DateTime), CAST(5000000.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[LogGiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (1, 1, N'Xe Vision', CAST(25000000.00 AS Decimal(18, 2)), N'Đang cầm cố', 0)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (2, 2, N'Laptop Dell', CAST(15000000.00 AS Decimal(18, 2)), N'Đang cầm cố', 0)
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AAC51CFACB]    Script Date: 12/05/2026 10:19:35 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayVay]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LogGiaoDich] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTS]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[LogGiaoDich]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
/****** Object:  StoredProcedure [dbo].[sp_Event1_DangKyHopDong]    Script Date: 12/05/2026 10:19:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Event1_DangKyHopDong]
    @MaKH INT,
    @TienGoc DECIMAL(18,2),
    @Deadline1 DATETIME,
    @Deadline2 DATETIME,
    @TenTS NVARCHAR(100),
    @GiaTriTS DECIMAL(18,2)
AS
BEGIN
    INSERT INTO HopDong (MaKH, TienGoc, Deadline1, Deadline2)
    VALUES (@MaKH, @TienGoc, @Deadline1, @Deadline2);

    DECLARE @NewHD INT = SCOPE_IDENTITY();
    INSERT INTO TaiSan (MaHD, TenTS, GiaTriDinhGia)
    VALUES (@NewHD, @TenTS, @GiaTriTS);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Event3_XuLyTraNo]    Script Date: 12/05/2026 10:19:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Event3_XuLyTraNo]
    @MaHD INT,
    @SoTienTra DECIMAL(18,2)
AS
BEGIN
    -- Kiểm tra cờ thanh lý [cite: 35]
    IF EXISTS (SELECT 1 FROM TaiSan WHERE MaHD = @MaHD AND IsSold = 1)
    BEGIN
        PRINT N'Tài sản đã bán, không thu tiền'; RETURN;
    END

    DECLARE @TongNo DECIMAL(18,2) = dbo.fn_Event2_CalcMoney(@MaHD, GETDATE());
    DECLARE @DuNo DECIMAL(18,2) = @TongNo - @SoTienTra;

    -- Ghi Log giao dịch [cite: 51]
    INSERT INTO LogGiaoDich (MaHD, SoTienTra, NoConLai) VALUES (@MaHD, @SoTienTra, @DuNo);

    -- Cập nhật trạng thái hợp đồng [cite: 37, 38]
    UPDATE HopDong SET TrangThai = CASE WHEN @DuNo <= 0 THEN N'Đã thanh toán đủ' ELSE N'Đang trả góp' END WHERE MaHD = @MaHD;

    -- Gợi ý trả đồ dựa trên điều kiện giá trị [cite: 39, 40]
    SELECT MaTS, TenTS FROM TaiSan WHERE MaHD = @MaHD AND GiaTriDinhGia >= @DuNo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Event4_QueryBadDebt]    Script Date: 12/05/2026 10:19:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Event4_QueryBadDebt]
AS
BEGIN
    SELECT 
        KH.HoTen, KH.SDT, HD.TienGoc,
        DATEDIFF(DAY, HD.Deadline1, GETDATE()) AS SoNgayQuaHan,
        dbo.fn_Event2_CalcMoney(HD.MaHD, GETDATE()) AS NoHienTai,
        dbo.fn_Event2_CalcMoney(HD.MaHD, DATEADD(MONTH, 1, GETDATE())) AS NoDuKienSau1Thang
    FROM HopDong HD
    JOIN KhachHang KH ON HD.MaKH = KH.MaKH
    WHERE GETDATE() > HD.Deadline1 AND HD.TrangThai != N'Đã thanh toán đủ';
END;
GO
/****** Object:  Trigger [dbo].[trg_Event5_CheckDeadline1]    Script Date: 12/05/2026 10:19:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Sửa Trigger 1: Tự động chuyển nợ xấu
CREATE TRIGGER [dbo].[trg_Event5_CheckDeadline1]
ON [dbo].[HopDong]
AFTER UPDATE, INSERT
AS
BEGIN
    -- Chỉ Update những hợp đồng thỏa mãn điều kiện và CHƯA có trạng thái Quá hạn
    UPDATE HopDong
    SET TrangThai = N'Quá hạn (nợ xấu)'
    FROM HopDong H
    JOIN inserted i ON H.MaHD = i.MaHD
    WHERE i.TrangThai = N'Đang vay' 
      AND GETDATE() > i.Deadline1
      AND H.TrangThai <> N'Quá hạn (nợ xấu)'; -- Dòng này ngăn lỗi vòng lặp 32 lần
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_Event5_CheckDeadline1]
GO
/****** Object:  Trigger [dbo].[trg_Event5_CheckDeadline2]    Script Date: 12/05/2026 10:19:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Sửa Trigger 2: Sẵn sàng thanh lý
CREATE TRIGGER [dbo].[trg_Event5_CheckDeadline2]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    UPDATE TaiSan
    SET TrangThaiTS = N'Sẵn sàng thanh lý'
    FROM TaiSan T
    JOIN inserted i ON T.MaHD = i.MaHD
    WHERE i.TrangThai = N'Quá hạn (nợ xấu)' 
      AND GETDATE() > i.Deadline2
      AND T.TrangThaiTS <> N'Sẵn sàng thanh lý'; -- Chặn vòng lặp
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_Event5_CheckDeadline2]
GO
/****** Object:  Trigger [dbo].[trg_Event5_Overdue]    Script Date: 12/05/2026 10:19:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger tự động chuyển trạng thái nợ xấu [cite: 46]
CREATE TRIGGER [dbo].[trg_Event5_Overdue]
ON [dbo].[HopDong]
AFTER UPDATE, INSERT
AS
BEGIN
    UPDATE HopDong
    SET TrangThai = N'Quá hạn (nợ xấu)'
    FROM HopDong H JOIN inserted i ON H.MaHD = i.MaHD
    WHERE i.TrangThai = N'Đang vay' AND GETDATE() > i.Deadline1;
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_Event5_Overdue]
GO
